form {
    
    margin-left: 20px;
}
.table {
    margin: 0 auto;
    border: 1px solid black;
}
th {
    text-align: center;
}
.nama {
    width: 300px;
}
.judul {
    background-color: #aaaaaa;
}
.isi {
    background-color: #FF7F50;
}