div {
  width: 500px;
  margin: 5px;
  padding: 10px;
  font-family: serif;
}
h1 {
  text-align: center;
}
th {
  text-align: left;
  vertical-align: bottom;
  width: 150px;
}
button {
  background-color: white;
  border-radius: 15px;
  padding: 2px 5px;
  margin-top: 15px;
}